
.title{
  text-align: center;
}
td{
  
    width: 25%; 
    overflow: hidden;
    white-space: nowrap; /* Empêche le texte de se retourner à la ligne */
}

.btnMod{
  display: flex;
  align-items: center; /* Vertically centers the button */
  height: 50px;
}

.btnMod1 {
}


