// #headers{
//     display: flex;
//   }

//   #fileList{
//     display: flex;
//     div{
//       flex: 1 0 0;
//       text-align: justify;
//     }
//   }

// .table{
//     display: flex;
//     justify-content: space-around;
//     text-align: center;
//     width: 100%;
//     tr{
//         flex: 1 0 0;
//     }
// }

// .centre{
//     text-align: center;
// }

.title{
  text-align: center;
}
td{
  
    /* Définissez une largeur fixe pour les colonnes */
    width: 25%; /* Ajustez selon vos besoins */
    overflow: hidden;
    text-overflow: ellipsis; /* Gère le texte qui dépasse la largeur */
    white-space: nowrap; /* Empêche le texte de se retourner à la ligne */
  
}