p-table{
    display: flex;
}

.draggableArea{
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar{
        display: none;
    }
}

.draggableArea{
}

#tableContainer{
    position: absolute;
    display: flex;
    width: fit-content;
    align-items: center;
    flex-direction: column-reverse;
}

.dot {
    font-weight: bolder;
    font-size: larger;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    &:hover{
        transform: scale(1.3);
        cursor: pointer;
    }
}

