<div class="card">
    <div class="card-header text-black bg-primary">CREER UN COMPTE</div>
    <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="createUser()">
            <div>
                <div>
                    <label>Nom</label><br>
                    <textarea rows="1" cols="30" pInputTextarea formControlName="lastname"></textarea>
                    <span class="text-primary"
                        *ngIf="registerForm.get('lastname')?.touched && registerForm.get('lastname')?.errors?.['required']">Champs
                        requis</span>
                    
                </div>
                <div>
                    <label>Prénom</label><br>
                    <textarea rows="1" cols="30" pInputTextarea formControlName="firstname"></textarea>
                    <span class="text-primary"
                        *ngIf="registerForm.get('firstname')?.touched && registerForm.get('firstname')?.errors?.['required']">Champs
                        requis</span>
                </div>
                <div>
                    <label>Email</label><br>
                    <textarea rows="1" cols="30" pInputTextarea formControlName="email"></textarea>
                    <span class="text-primary"
                        *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['required']">Champs
                        requis</span>
                    <span class="text-primary"
                        *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['pattern']">format
                        email incorrect</span>
                    
                </div>
                <div>
                    <label>Date de naissance</label><br>
                    <textarea rows="1" cols="30" pInputTextarea formControlName="dateOfBirth" placeholder="jj/mm/aaaa"></textarea>
                    <span class="text-primary"
                        *ngIf="registerForm.get('dateOfBirth')?.touched && registerForm.get('dateOfBirth')?.errors?.['required']">Champs
                        requis</span>
                    <span class="text-primary"
                        *ngIf="registerForm.get('dateOfBirth')?.touched && registerForm.get('dateOfBirth')?.errors?.['pattern']">format
                        de date incorrect</span>
                    
                </div>

                <div>
                    <label for="role" class="form-control">Rôle</label><br>
                    <select name="role" id="role" formControlName="role">
                        <option value="utilisateur">Utilisateur</option>
                        <option value="administrateur">Administrateur</option>
                    </select>
                    <span class="text-primary"
                        *ngIf="registerForm.get('role')?.touched && registerForm.get('role')?.errors?.['required']">Choisissez un rôle</span>
                </div>
                <div>
                    <p-button label="Envoyer" type="submit"></p-button>
                </div>
            </div>
        </form>
    </div>
</div>