<div class="w-1-2">
    <h3>Liste des utilisateurs</h3>

    <p-table [value]="users" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Date de naissance</th>
                <th>Rôle</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-users>
            <tr>
                <td>{{ users.lastname }}</td>
                <td>{{ users.firstname }}</td>
                <td>{{ users.email }}</td>
                <td>{{ users.dateOfBirth }}</td>
                <td>{{ users.role }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>